body {
  margin: 0;
  background-color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}
#map-holder {
  width: 900px;
  height: 500px;
}
svg rect {
  fill: #aaa;   /* map background colour */
}
.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}

#graph-holder {
  width: 900px;
  height: 300px;
}

body{
  padding: 2em;
}

.hide {
  display: none;
}
